In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.2.2'

In [9]:
 df = pd.read_parquet('yellow_tripdata_2024-01.parquet')

In [10]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [11]:
pd.to_datetime(df.tpep_dropoff_datetime)
pd.to_datetime(df.tpep_pickup_datetime)

0         2024-01-01 00:57:55
1         2024-01-01 00:03:00
2         2024-01-01 00:17:06
3         2024-01-01 00:36:38
4         2024-01-01 00:46:51
                  ...
2964619   2024-01-31 23:45:59
2964620   2024-01-31 23:13:07
2964621   2024-01-31 23:19:00
2964622   2024-01-31 23:07:23
2964623   2024-01-31 23:58:25
Name: tpep_pickup_datetime, Length: 2964624, dtype: datetime64[us]

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [17]:
%time df.head(n=100000).to_sql(name='taxi_data', con=engine, if_exists='append')

CPU times: user 6.96 s, sys: 132 ms, total: 7.09 s
Wall time: 10.3 s

1000

In [ ]:
SEL